.PostContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    padding-top: 120px;
}
.spinner{
    margin-left: 550px;
    margin-top: 200px;
}

.iconAdd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.PostContainer h2{
    font-size: 30px;
    width: 650px;
}

.PostContainer p{
    line-height: 28px;
    font-size: 20px;
    color: gray;
    width: 650px;
}

.img img{
    width: 400px;
}
.post-image{
    height: 400px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}


@media (max-width:500px) {
    .PostContainer{
        padding-top: 80px;
    }
    .PostContainer h2{
        width: 320px;
        font-size: 28px;
    }
    .PostContainer p{
        width: 320px;
        font-size: 16px;
    }
    .post-image{
        width: 320px;
        height: 300px;
    }
    .PostContainer .topProfile{
        margin-left: 40px;
    }
    .iconAdd{
        padding-left: 24px;
        padding-right: 24px;
    }
    .date{
        font-size: 14px;
    }
}