.PostContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    padding-top: 120px;
}

.iconAdd{
    display: flex;
    justify-content: space-between;
}

.PostContainer h2{
    font-size: 30px;
    width: 650px;
}

.PostContainer p{
    line-height: 28px;
    font-size: 20px;
    color: gray;
    width: 650px;
}

.img img{
    width: 400px;
}
.post-image{
    height: 400px;
}